<div class="block-control">
  <div class="block-control__group">
    <div class="block-control__item">
      <span class="block-control__btn js-btn" aria-label="Редактировать" data-index="6">
        <svg class="block-control__icon" width="15" height="15">
          <use xlink:href="img/sprite.svg#icon-pencil"></use>
        </svg>
      </span>
    </div>
    <div class="block-control__item">
      <div class="block-control__box-btn">
        <span class="block-control__btn block-control__btn--arrow js-btn" aria-label="Стрелка вверх">
          <svg class="block-control__icon block-control__icon--1" width="15" height="10">
            <use xlink:href="img/sprite.svg#icon-arrow-down"></use>
          </svg>
        </span>
        <span class="block-control__btn block-control__btn--arrow js-btn" aria-label="Стрелка вниз">
          <svg class="block-control__icon" width="15" height="10">
            <use xlink:href="img/sprite.svg#icon-arrow-down"></use>
          </svg>
        </span>
      </div>
    </div>
    <div class="block-control__item">
      <span class="block-control__btn js-btn" aria-label="Настройки" data-index="10">
        <svg class="block-control__icon" width="15" height="15">
          <use xlink:href="img/sprite.svg#icon-settings"></use>
        </svg>
      </span>
    </div>
    <div class="block-control__item">
      <span class="block-control__btn" aria-label="Дополнительно">
        <svg class="block-control__icon block-control__icon--dots" width="15" height="15">
          <use xlink:href="img/sprite.svg#icon-dots"></use>
        </svg>
      </span>
      <div class="block-control__bl-dropdown bl-dropdown">
        <ul class="bl-dropdown__list">
          <li class="bl-dropdown__item">
            <span class="bl-dropdown__btn">
              <svg class="bl-dropdown__icon" width="15" height="15">
                <use xlink:href="img/sprite.svg#icon-eye"></use>
              </svg>
              <span class="bl-dropdown__name">Отключить</span>
            </span>
          </li>
          <li class="bl-dropdown__item">
            <span class="bl-dropdown__btn">
              <svg class="bl-dropdown__icon" width="15" height="15">
                <use xlink:href="img/sprite.svg#icon-copy"></use>
              </svg>
              <span class="bl-dropdown__name">Скопировать</span>
            </span>
          </li>
          <li class="bl-dropdown__item">
            <span class="bl-dropdown__btn">
              <svg class="bl-dropdown__icon" width="15" height="15">
                <use xlink:href="img/sprite.svg#icon-basket-2"></use>
              </svg>
              <span class="bl-dropdown__name">Удалить</span>
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
