<div class="overlay js-overlay">
  <div class="bl-modal bl-modal--xs w-edit w-close" data-index="4">
    <div class="bl-modal__header">
      <div class="bl-modal__title">
        <svg class="bl-modal__title-icon" width="15" height="15">
          <use xlink:href="img/sprite.svg#icon-layers"></use>
        </svg>
        <span>Страница сайта</span>
      </div>
      <button class="button bl-modal__close js-btn-close" aria-label="Закрыть">
        <svg class="bl-modal__icon" width="15" height="15">
          <use xlink:href="img/sprite.svg#icon-close"></use>
        </svg>
      </button>
    </div>
    <div class="bl-modal__body">
      1
    </div>
  </div>
</div>
