<div class="overlay js-overlay">
  <div class="bl-modal bl-modal--xs w-edit w-close" data-index="22">
    <div class="bl-modal__header">
      <div class="bl-modal__title">
        <svg class="bl-modal__title-icon" width="15" height="15">
          <use xlink:href="img/sprite.svg#icon-layers"></use>
        </svg>
        <span>Новая страница</span>
      </div>
      <button class="button bl-modal__close js-btn-close" aria-label="Закрыть">
        <svg class="bl-modal__icon" width="15" height="15">
          <use xlink:href="img/sprite.svg#icon-close"></use>
        </svg>
      </button>
    </div>

    <div class="bl-modal__body bl-modal__body--flex">

      <div class="bl-form bl-form--full">
        <div class="bl-form__item">
          <label for="bl-form-1" class="bl-form__label">Название страницы</label>
          <input id="bl-form-1" type="text" class="bl-form__val" placeholder="Например: Преимущества нашей компании">
        </div>
        <div class="bl-form__item">
          <label for="bl-form-2" class="bl-form__label">Название пункта меню</label>
          <input id="bl-form-2" type="text" class="bl-form__val" placeholder="Например:Преимущества">
        </div>
        <div class="bl-form__item">
          <label for="bl-form-3" class="bl-form__label">Название шаблона</label>
          <input id="bl-form-3" type="text" class="bl-form__val" placeholder="Например: Шаблон Преимущества">
        </div>
        <div class="bl-form__item">
          <label for="bl-form-4" class="bl-form__label">Название файла шаблона</label>
          <input id="bl-form-4" type="text" class="bl-form__val" value="preimushestva">
        </div>
        <div class="bl-form__item">
          <label for="bl-form-5" class="bl-form__label">Адрес страницы</label>
          <input id="bl-form-5" type="text" class="bl-form__val" value="preimushestva">
        </div>

        <button id="" class="button button--turquoise js-btn-close" type="submit">Создать страницу</button>
      </div>
    </div>

  </div>
</div>
