<form method="post">
  <input id="open_vetka" type="hidden" value="">
  <ul class="tree" id="tree">
    <li class="Node IsRoot IsLast ExpandOpen">
      <img src="img/root.gif" border="0" style="float: left;">
      <div class="Content">
        <div id="a1">
          <a onclick="pages_load_click(0,'1');return false;" href="javascript:;" class="btn">
            <svg class="tree__icon-add" width="15" height="15">
              <use xlink:href="img/sprite.svg#icon-t-add-1"></use>
            </svg>
            </button>
          </a>
          <a href="javascript:;" alt="{id}" title="{id}" id="title_menu_1"
            onclick="pages_load_click('1',''); return false;">Главная </a>
          <img id="module_img_1" src='img/module_str_icon.gif' alt='Подключен модуль' title='Подключен модуль'>
        </div>
      </div>

      <ul>
        <img id="line_bg_2135" src="img/line_bg_over.gif" style="display: none;">
        <li id="2135" class="Node ExpandLeaf">
          <div class="Expand"></div>
          <div class="Content">
            <div id="a2135" class="Page">
              <input id="linkwatch_2135" name="linkwatch" type="hidden" value="/o_proekte">
              <img id="move_2135" src="img/icon-move.gif" border="0">
              <a href="javascript:;" onclick="pages_load_click(0,'2135');return false;" class="btn">
                <svg class="tree__icon-add" width="15" height="15">
                  <use xlink:href="img/sprite.svg#icon-t-add-1"></use>
                </svg>
              </a>
              <a href="javascript:;" class="btn btn-xs btn-outline red-pink"
                onclick="if (confirm('Вы действительно хотите удалить страницу &laquo;О проекте&raquo;?')) { var f=document.getElementById('del'); f.id.value='2135'; f.submit(); }">
                <a href="javascript:;" onclick="pages_load_click(0,'2135');return false;" class="btn">
                  <svg class="tree__icon-del" width="24" height="19">
                    <use xlink:href="img/sprite.svg#icon-t-del"></use>
                  </svg>
                </a>
                &nbsp;
                <a href="#" alt="2135" class="structure_a" title="2135"
                  onclick="pages_load_click('2135',''); return false;" id="title_menu_2135">О проекте</a>

            </div>
          </div>

        </li>

        <img id="line_bg_2130" src="img/line_bg_over.gif" style="display: none;">
        <li id="2130" class="Node ExpandLeaf">
          <div class="Expand"></div>
          <div class="Content">
            <div id="a2130" class="Page">
              <input id="linkwatch_2130" name="linkwatch" type="hidden" value="/pomosch_i_garantii">
              <img id="move_2130" src="img/icon-move.gif" border="0">
              <a href="javascript:;" onclick="pages_load_click(0,'2130');return false;" class="btn">
                <svg class="tree__icon-add" width="15" height="15">
                  <use xlink:href="img/sprite.svg#icon-t-add-1"></use>
                </svg>
              </a>
              <a href="javascript:;" class="btn btn-xs btn-outline red-pink"
                onclick="if (confirm('Вы действительно хотите удалить страницу &laquo;Помощь и гарантии&raquo;?')) { var f=document.getElementById('del'); f.id.value='2130'; f.submit(); }">
                <svg class="tree__icon-del" width="24" height="19">
                  <use xlink:href="img/sprite.svg#icon-t-del"></use>
                </svg>
              </a>
              &nbsp;
              <a href="#" alt="2130" class="structure_a" title="2130"
                onclick="pages_load_click('2130',''); return false;" id="title_menu_2130">Помощь и гарантии</a>

            </div>
          </div>

        </li>

        <img id="line_bg_1978" src="img/line_bg_over.gif" style="display: none;">
        <li id="1978" class="Node ExpandClosed">
          <div class="Expand"></div>
          <div class="Content">
            <div id="a1978" class="Page">
              <input id="linkwatch_1978" name="linkwatch" type="hidden" value="/all_albums">
              <img id="move_1978" src="img/icon-move.gif" border="0">
              <a href="javascript:;" onclick="pages_load_click(0,'1978');return false;" class="btn">
                <svg class="tree__icon-add" width="15" height="15">
                  <use xlink:href="img/sprite.svg#icon-t-add-1"></use>
                </svg>
              </a>
              <a href="javascript:;" class="btn btn-xs btn-outline red-pink"
                onclick="if (confirm('Вы действительно хотите удалить страницу &laquo;Альбомы&raquo;?')) { var f=document.getElementById('del'); f.id.value='1978'; f.submit(); }">
                <svg class="tree__icon-del" width="24" height="19">
                  <use xlink:href="img/sprite.svg#icon-t-del"></use>
                </svg>
              </a>
              &nbsp;
              <a href="#" alt="1978" class="structure_a" title="1978"
                onclick="pages_load_click('1978',''); return false;" id="title_menu_1978">(Альбомы)</a>
              <img id="module_img_1978" src='img/module_str_icon.gif' alt='Подключен модуль' title='Подключен модуль'>
            </div>
          </div>
          <ul></ul>
        </li>

        <img id="line_bg_1942" src="img/line_bg_over.gif" style="display: none;">
        <li id="1942" class="Node ExpandClosed">
          <div class="Expand"></div>
          <div class="Content">
            <div id="a1942" class="Page">
              <input id="linkwatch_1942" name="linkwatch" type="hidden" value="/catalog">
              <img id="move_1942" src="img/icon-move.gif" border="0">
              <a href="javascript:;" onclick="pages_load_click(0,'1942');return false;" class="btn">
                <svg class="tree__icon-add" width="15" height="15">
                  <use xlink:href="img/sprite.svg#icon-t-add-1"></use>
                </svg>
              </a>
              <a href="javascript:;" class="btn btn-xs btn-outline red-pink"
                onclick="if (confirm('Вы действительно хотите удалить страницу &laquo;Каталог готовых результатов&raquo;?')) { var f=document.getElementById('del'); f.id.value='1942'; f.submit(); }">
                <svg class="tree__icon-del" width="24" height="19">
                  <use xlink:href="img/sprite.svg#icon-t-del"></use>
                </svg>
              </a>
              &nbsp;
              <a href="#" alt="1942" class="structure_a" title="1942"
                onclick="pages_load_click('1942',''); return false;" id="title_menu_1942">Каталог</a>
              <img id="module_img_1942" src='img/module_str_icon.gif' alt='Подключен модуль' title='Подключен модуль'>
            </div>
          </div>
          <ul></ul>
        </li>

        <img id="line_bg_1805" src="img/line_bg_over.gif" style="display: none;">
        <li id="1805" class="Node ExpandClosed">
          <div class="Expand"></div>
          <div class="Content">
            <div id="a1805" class="Page">
              <input id="linkwatch_1805" name="linkwatch" type="hidden" value="/contacts">
              <img id="move_1805" src="img/icon-move.gif" border="0">
              <a href="javascript:;" onclick="pages_load_click(0,'1805');return false;" class="btn">
                <svg class="tree__icon-add" width="15" height="15">
                  <use xlink:href="img/sprite.svg#icon-t-add-1"></use>
                </svg>
              </a>
              <a href="javascript:;" class="btn btn-xs btn-outline red-pink"
                onclick="if (confirm('Вы действительно хотите удалить страницу &laquo;Контакты&raquo;?')) { var f=document.getElementById('del'); f.id.value='1805'; f.submit(); }">
                <svg class="tree__icon-del" width="24" height="19">
                  <use xlink:href="img/sprite.svg#icon-t-del"></use>
                </svg>
              </a>
              &nbsp;
              <a href="#" alt="1805" class="structure_a" title="1805"
                onclick="pages_load_click('1805',''); return false;" id="title_menu_1805">Контакты</a>

            </div>
          </div>
          <ul></ul>
        </li>

        <img id="line_bg_1833" src="img/line_bg_over.gif" style="display: none;">
        <li id="1833" class="Node ExpandLeaf">
          <div class="Expand"></div>
          <div class="Content">
            <div id="a1833" class="Page">
              <input id="linkwatch_1833" name="linkwatch" type="hidden" value="/news">
              <img id="move_1833" src="img/icon-move.gif" border="0">
              <a href="javascript:;" onclick="pages_load_click(0,'1833');return false;" class="btn">
                <svg class="tree__icon-add" width="15" height="15">
                  <use xlink:href="img/sprite.svg#icon-t-add-1"></use>
                </svg>
              </a>
              <a href="javascript:;" class="btn btn-xs btn-outline red-pink"
                onclick="if (confirm('Вы действительно хотите удалить страницу &laquo;Новости&raquo;?')) { var f=document.getElementById('del'); f.id.value='1833'; f.submit(); }">
                <svg class="tree__icon-del" width="24" height="19">
                  <use xlink:href="img/sprite.svg#icon-t-del"></use>
                </svg>
              </a>
              &nbsp;
              <a href="#" alt="1833" class="structure_a" title="1833"
                onclick="pages_load_click('1833',''); return false;" id="title_menu_1833">(Новости)</a>
              <img id="module_img_1833" src='img/module_str_icon.gif' alt='Подключен модуль' title='Подключен модуль'>
            </div>
          </div>

        </li>

        <img id="line_bg_1972" src="img/line_bg_over.gif" style="display: none;">
        <li id="1972" class="Node ExpandLeaf">
          <div class="Expand"></div>
          <div class="Content">
            <div id="a1972" class="Page">
              <input id="linkwatch_1972" name="linkwatch" type="hidden" value="/compare">
              <img id="move_1972" src="img/icon-move.gif" border="0">
              <a href="javascript:;" onclick="pages_load_click(0,'1972');return false;" class="btn">
                <svg class="tree__icon-add" width="15" height="15">
                  <use xlink:href="img/sprite.svg#icon-t-add-1"></use>
                </svg>
              </a>
              <a href="javascript:;" class="btn btn-xs btn-outline red-pink"
                onclick="if (confirm('Вы действительно хотите удалить страницу &laquo;Сравнение&raquo;?')) { var f=document.getElementById('del'); f.id.value='1972'; f.submit(); }">
                <svg class="tree__icon-del" width="24" height="19">
                  <use xlink:href="img/sprite.svg#icon-t-del"></use>
                </svg>
              </a>
              &nbsp;
              <a href="#" alt="1972" class="structure_a" title="1972"
                onclick="pages_load_click('1972',''); return false;" id="title_menu_1972">(Сравнение)</a>
              <img id="module_img_1972" src='img/module_str_icon.gif' alt='Подключен модуль' title='Подключен модуль'>
            </div>
          </div>

        </li>

        <img id="line_bg_1812" src="img/line_bg_over.gif" style="display: none;">
        <li id="1812" class="Node ExpandClosed">
          <div class="Expand"></div>
          <div class="Content">
            <div id="a1812" class="Page">
              <input id="linkwatch_1812" name="linkwatch" type="hidden" value="/sp">
              <img id="move_1812" src="img/icon-move.gif" border="0">
              <a href="javascript:;" onclick="pages_load_click(0,'1812');return false;" class="btn">
                <svg class="tree__icon-add" width="15" height="15">
                  <use xlink:href="img/sprite.svg#icon-t-add-1"></use>
                </svg>
              </a>
              <a href="javascript:;" class="btn btn-xs btn-outline red-pink"
                onclick="if (confirm('Вы действительно хотите удалить страницу &laquo;Справочники&raquo;?')) { var f=document.getElementById('del'); f.id.value='1812'; f.submit(); }">
                <svg class="tree__icon-del" width="24" height="19">
                  <use xlink:href="img/sprite.svg#icon-t-del"></use>
                </svg>
              </a>
              &nbsp;
              <a href="#" alt="1812" class="structure_a" title="1812"
                onclick="pages_load_click('1812',''); return false;" id="title_menu_1812">(Справочники)</a>
              <img id="module_img_1812" src='img/module_str_icon.gif' alt='Подключен модуль' title='Подключен модуль'>
            </div>
          </div>
          <ul></ul>
        </li>

        <img id="line_bg_1807" src="img/line_bg_over.gif" style="display: none;">
        <li id="1807" class="Node ExpandClosed">
          <div class="Expand"></div>
          <div class="Content">
            <div id="a1807" class="Page">
              <input id="linkwatch_1807" name="linkwatch" type="hidden" value="/forms">
              <img id="move_1807" src="img/icon-move.gif" border="0">
              <a href="javascript:;" onclick="pages_load_click(0,'1807');return false;" class="btn">
                <svg class="tree__icon-add" width="15" height="15">
                  <use xlink:href="img/sprite.svg#icon-t-add-1"></use>
                </svg>
              </a>
              <a href="javascript:;" class="btn btn-xs btn-outline red-pink"
                onclick="if (confirm('Вы действительно хотите удалить страницу &laquo;Формы&raquo;?')) { var f=document.getElementById('del'); f.id.value='1807'; f.submit(); }">
                <svg class="tree__icon-del" width="24" height="19">
                  <use xlink:href="img/sprite.svg#icon-t-del"></use>
                </svg>
              </a>
              &nbsp;
              <a href="#" alt="1807" class="structure_a" title="1807"
                onclick="pages_load_click('1807',''); return false;" id="title_menu_1807">(Формы)</a>

            </div>
          </div>
          <ul></ul>
        </li>

        <img id="line_bg_800" src="img/line_bg_over.gif" style="display: none;">
        <li id="800" class="Node ExpandClosed IsLast">
          <div class="Expand"></div>
          <div class="Content">
            <div id="a800" class="Page">
              <input id="linkwatch_800" name="linkwatch" type="hidden" value="/s">
              <img id="move_800" src="img/icon-move.gif" border="0">
              <a href="javascript:;" onclick="pages_load_click(0,'800');return false;" class="btn">
                <svg class="tree__icon-add" width="15" height="15">
                  <use xlink:href="img/sprite.svg#icon-t-add-1"></use>
                </svg>
              </a>&nbsp;
              <a href="#" alt="800" class="structure_a" title="800" onclick="pages_load_click('800',''); return false;"
                id="title_menu_800">(Служебные)</a>

            </div>
          </div>
          <ul></ul>
        </li>
      </ul>
    </li>
  </ul>
</form>
