.bl-dropdown {
  display: none;
  position: absolute;
  right: 0;
  top: 55px;
  background: rgba(0, 0, 0, 0.7);
  width: 150px;
  min-height: 100px;
  border-radius: 5px;

  &::before {
    content: "";
    position: absolute;
    right: 10px;
    top: -20px;
    z-index: 2;
    border: 10px solid transparent;
    border-bottom: 10px solid rgba(0, 0, 0, 0.7);
  }
  &__list {
    @include listReset();
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    min-height: 100px;
    font-family: $font-base;
    font-weight: 400;
    line-height: 24px;
  }
  &__item {
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
  }
  &__btn {
    color: #ffffff;
    cursor: pointer;
  }
  &__icon {
    margin-right: 10px;
    width: 17px;
    height: 17px;

    fill: #ffffff;
  }
}

.bl-dropdown__item:focus .bl-dropdown__btn,
.bl-dropdown__item:hover .bl-dropdown__btn,
.bl-dropdown__item:active .bl-dropdown__btn {
  color: $color-turquoise;
  transition: 0.5s;
}
.bl-dropdown__item:focus .bl-dropdown__icon,
.bl-dropdown__item:hover .bl-dropdown__icon,
.bl-dropdown__item:active .bl-dropdown__icon {
  fill: $color-turquoise;
  transition: 0.5s;
}
