.bl-edit-form {
  margin: 20px 20px 20px 0;
  background: rgba(168, 174, 175, 0.12);
  padding: 20px;
  border-radius: 10px;

  &__item {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  &__field {
    display: block;
    margin-bottom: 15px;
    font-family: $Robotomedium;
    font-size: 14px;
    color: #737373;
  }
  &__val {
    margin-bottom: 15px;
    padding: 10px;
    width: 95%;
    border: 1px solid #dddddd;
    border-radius: 0;
  }
  &__textarea {
    width: 95%;
    min-height: 150px;
    padding: 10px;
    border: 1px solid #dddddd;
    border-radius: 0;
    resize: none;
  }
  &__box {
    width: 50%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
  }
  &__pic {
    margin-bottom: 20px;
    display: block;
    width: 15rem !important;
    height: 15rem;
    box-shadow: 0 2px 6px 2px #9e9a9a;
    object-fit: cover;
  }
  &__actions {
    display: flex;
    justify-content: space-around;
  }
}
