.bl-widgets {
  display: flex;
  justify-content: space-between;

  @include rem(padding-top, 25px);

  overflow: hidden;
  overflow-y: auto;

  &__sidebar {
    width: 35%;
    height: 100%;

    @include rem(padding, 0 15px);

    @include respond-above(md) {
      width: 25%;
    }

    @include respond-above(xxlg) {
      width: 20%;
    }
  }
  &__content {
    width: 63%;
    height: 85vh;
    overflow: hidden;

    @include respond-above(md) {
      width: 75%;
    }

    @include respond-above(xxlg) {
      width: 80%;
    }
  }
  &__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;

    @include rem(padding-top, 5px);

    @include respond-above(md) {
      flex-direction: row;
      padding-right: 0.9375rem;
    }

    & .widget-preview {
      overflow: hidden;
      width: 95%;

      @include rem(
        (
          margin-bottom: 40px
        )
      );

      @include respond-above(md) {
        width: 45%;
        margin-right: calc(10% / 4);
        margin-left: calc(10% / 4);
      }

      @include respond-above(xxlg) {
        width: 30%;
        margin-right: calc(10% / 6);
        margin-left: calc(10% / 6);
      }
    }
  }
  &__list {
    @include listReset();
    height: 100%;
    overflow-y: auto;
    padding-right: 10px;
  }
  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include rem(
      (
        padding: 8px 0,
        border-bottom: 1px solid #dddddd
      )
    );

    cursor: pointer;

    @include respond-above(xxlg) {
      @include rem(padding, 10px 0);
    }
  }
  &__group-item {
    display: none;
  }
  &__name {
    font-family: $font-base-medium;
    font-weight: 500;
    @include ff(
      "font-size",
      (
        1280px: 16px,
        1560px: 18px,
        1800px: 20px
      )
    );
    color: #6a6a6a;
  }
  &__icon {
    fill: $color-turquoise;
  }
}

.bl-widgets__group-item.active {
  display: block;
}

.bl-widgets__item .bl-widgets__icon {
  opacity: 0;
}

.bl-widgets__item:focus .bl-widgets__name,
.bl-widgets__item:hover .bl-widgets__name,
.bl-widgets__item:active .bl-widgets__name {
  color: #000000;
  cursor: pointer;
  animation: name-show 1s forwards;
}
.bl-widgets__item:focus .bl-widgets__icon,
.bl-widgets__item:hover .bl-widgets__icon,
.bl-widgets__item:active .bl-widgets__icon {
  animation: arrow-show 1s forwards;
}

.bl-widgets__item.active .bl-widgets__name {
  color: #000000;
}
.bl-widgets__item.active .bl-widgets__icon {
  opacity: 1;
  transform: translateX(5%);
  transition: 1s;
}

@keyframes arrow-show {
  0% {
    opacity: 0.5;
    transform: translateX(-50%);
  }

  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
@keyframes name-show {
  0% {
    opacity: 0.5;
    transform: translateX(0%);
  }

  100% {
    opacity: 1;
    transform: translateX(10%);
  }
}
