.block-add {
  position: absolute;
  z-index: 3200;
  bottom: -23px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  margin-top: 0;

  opacity: 0;
  transition: opacity 0.4s ease-out;

  &--center {
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }

  &__plus {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #fff;

    & .button {
      &:focus,
      &:hover {
        opacity: 0.8;
        transition: 0.5s;
      }
    }
  }
  &__icon {
    width: 45px;
    height: 45px;
    fill: $color-turquoise;
    // @include rem(
    //   (
    //     width: 45px,
    //     height: 45px
    //   )
    // );
  }
}
