.box-pic-preview {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: 1s;
  cursor: pointer;

  &__btn {
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 5px 7px;
    background: $color-turquoise;
    border-radius: 50%;
  }
  &__icon {
    fill: #ffffff;
  }

  &__info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 10px;
    @include ff(
      "font-size",
      (
        1280px: 12px,
        1800px: 14px
      )
    );
    line-height: normal;
    color: #ffffff;
    background: #000000;
  }
  &__inner {
    opacity: 0;
    visibility: hidden;
    transition: 1s;
    position: relative;
    background: rgba(0, 0, 0, 0.3);

    min-width: 220px;
    min-height: 300px;
    @include respond-above(md) {
      min-height: 150px;
    }
  }
}

.box-pic-preview:hover .box-pic-preview__inner {
  opacity: 1;
  visibility: visible;
}
