.main-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 40;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  @include rem(min-height, 50px);
  @include rem(padding, 10px);

  background: #000000;

  &__right {
    display: flex;

    justify-content: space-between;
    align-items: center;

    flex-grow: 0.5;

    width: 55%;
  }

  &__left {
    display: flex;
    justify-content: space-between;
    align-items: center;

    flex-grow: 0.1;

    width: 20%;
  }

  &__btn {
    display: flex;
    align-items: center;

    @include rem(padding, 0 5px);

    font-size: 12px;
    color: #ffffff;
    text-decoration: none;

    transition: 1s;
  }

  &__btn-action {
    @include rem(margin, 0 5px);

    @include ff(
      "font-size",
      (
        1280px: 12px,
        1800px: 18px
      )
    );

    &:focus,
    &:hover {
      transition: 0.5s;
    }
  }

  &__icon {
    @include rem(
      (
        width: 30px,
        height: 30px,
        padding: 5px,
        margin-right: 10px
      )
    );
    background: $color-gray;

    fill: $color-turquoise;
    transition: 1s;

    &--left {
      transform: scale(-1, 1);
    }
  }
  &__name {
    display: none;
    @include ff(
      "font-size",
      (
        1280px: 12px,
        1800px: 18px
      )
    );

    @media (min-width: 1023px) {
      display: flex;
    }
  }
}

.main-bar__btn:focus .main-bar__icon,
.main-bar__btn:hover .main-bar__icon {
  background: darker($color-gray, 1.5);
}
