.tree {
  height: 100%;
  @include listReset();
  & ul {
    @include listReset();
  }
  &__title {
    padding-left: 5px;
    line-height: normal;
    font-weight: 600;
    color: darken($color-turquoise, 6%);
  }
  &__icon-add {
    width: 15px;
    height: 20px;
    fill: $color-turquoise;
  }
  &__icon-del {
    position: relative;
    top: 9px;
    left: 6px;
    width: 20px;
    height: 20px;
    // margin-top: 5px;
    fill: $color-danger;
  }
  & a {
    &:focus,
    &:hover {
      & .tree__icon-add {
        fill: darken($color-turquoise, 6%);
      }
      & .tree__icon-del {
        fill: darken($color-danger, 9%);
      }
    }
  }
  & .btn {
    position: relative;
    padding: 0;
  }

  & .Expand {
    width: 35px;
    height: 18px;
    float: left;
  }

  & .expand-open {
    & .Expand {
      background-image: url(../img/expand_minus.gif);
      cursor: pointer;
      font-size: 0;
    }

    & .tree__list {
      display: block;
    }
  }

  & .ExpandClosed {
    & .Expand {
      background-image: url(../img/expandable.gif);
      cursor: pointer;
    }

    & .tree__list {
      display: none;
    }
  }

  & .ExpandLeaf .Expand {
    background-image: url(../img/expand_leaf.gif);
    cursor: auto;
    font-size: 0;
  }

  & .ExpandLoading {
    width: 18px;
    height: 18px;
    float: left;
    background-image: url(../img/expand_loading.gif);
  }

  & .Node {
    background-image: url(../img/i.gif);
    background-position: top left;
    background-repeat: repeat-y;
    margin-left: 18px;
    zoom: 1;
  }

  & .isLast {
    background-image: url(../img/i_half.gif);
    background-repeat: no-repeat;
  }
}

.tree-wrapper {
  height: calc(100% - 100px);
  overflow-y: auto;
}

.tree__inner a {
  text-decoration: none;
}

.tree__inner div {
  display: flex;
  align-items: flex-end;
}
