.tree {
  @include listReset();
  & ul {
    @include listReset();
  }
  &__title {
      line-height: normal;
      font-weight: 600;
    color: darken($color-turquoise, 6%);
  }
  &__icon-add {
    width: 15px;
    height: 30px;
    fill: $color-turquoise;
  }
  &__icon-del {
    width: 20px;
    height: 20px;
    margin-top: 5px;
    fill: $color-danger;
  }
  & a {
    &:focus,
    &:hover {
      & .tree__icon-add {
        fill: darken($color-turquoise, 6%);
      }
      & .tree__icon-del {
        fill: darken($color-danger, 9%);
      }
    }
  }
  & .btn {
    padding: 0;
  }

  & .expand {
    width: 35px;
    height: 18px;
    float: left;
  }

  & .expand-open {
    & .expand {
      background-image: url(../img/expand_minus.gif);
      cursor: pointer;
    }

    & .tree__list {
      display: block;
    }
  }

  & .expand-closed {
    & .expand {
      background-image: url(../img/expandable.gif);
      cursor: pointer;
    }

    & .tree__list {
      display: none;
    }
  }

  & .expand-leaf .expand {
    background-image: url(../img/expand_leaf.gif);
    cursor: auto;
  }

  & .expand-loading {
    width: 18px;
    height: 18px;
    float: left;
    background-image: url(../img/expand_loading.gif);
  }

  & .node {
    background-image: url(../img/i.gif);
    background-position: top left;
    background-repeat: repeat-y;
    margin-left: 18px;
    zoom: 1;
  }

  & .isLast {
    background-image: url(../img/i_half.gif);
    background-repeat: no-repeat;
  }
}
